
{% extends 'index.html' %}

{% load staticfiles %}

{% block content %}
<head>  
    <link rel="stylesheet" href="{% static 'css/scontato.css' %}"> 
    <title>Contato</title>
</head>
<div class="fundo-falso"></div>
    <article>
        <section>
            <h3>Contato</h3>
    
            <p>Preeencha o formulario abaixo caso queira ser um coloborador, esqueceu a senha, tirar duvida, da uma sugestão ou fazer alguma critica</p>
        </section>

        <section id="cont-form">
            
            <h3 id="titulo-form">Formulario de contato</h3>
        
            <form name="form-in" action="" method="POST">
                    
                <div class="form-cl1">
                    <label id="nome" for="">Nome</label><br>
                    <input class="ipt-boder" type="text" autofocus required>
                </div>
                
                <div class="form-cl2">
                    <label for="">E-mail</label><br>
                    <input class="ipt-boder" type="email" name="" id="" required>
                </div>
        
        
                <div class="form-cl1">
                    <label for="">Formação</label><br>
                    <select id="form-formacao" class="ipt-boder" name="formacao" height="50" required>
                        <option value=""></option>
                        <option value="">Bacharelado</option>
                        <option value="">Licenciatura</option>
                        <option value="">Tecnológico</option>
                        <option value="">Educação à Distância</option>
                    </select>
                </div>
                
                <div id="coluna2-linha1" class="form-cl2">
                    <div id="cpf-documento">
                        <label for="">CPF</label><br>
                        <input id="cpf" class="ipt-boder" type="text" name="cpf" required>
                    </div>
                    <div id="calendario">
                        <label for="">Data Nascimento</label><br>
                        <input class="ipt-boder" type="date" name="calendario" >
                    </div>
                </div>
                
                <div id="sobre-evento" class="form-c1l2" >
                    <div>
                        <label id="titulo-motivo" for="">Preencha de acordo com o motivo</label><br>
                    </div>
        
                    <div>
                        <input type="radio" name="tevent" id="cface">
                        <label for="cface">Se tornar um colaborador</label><br>
                        <input type="radio" name="tevent" id="cinsta">
                        <label for="cinsta">Sugestão, critica ou elogio</label><br>
                        <input type="radio" name="tevent" id="cemail">
                        <label for="cemail">Dúvida</label><br>
                        <input type="radio" name="tevent" id="coutros" >
                        <label for="coutros">esqueceu senha</label><br>
                    </div>
                    <div id="camp-outros" >
                        <label for="">Outros Motivo</label><br>
                        <input class="ipt-boder" id="outro-motivo" type="text" >
                    </div>
                </div>

                <div class="form-cl2">
                    <div id="descreva">
                        <label for="">Descreva o motivo abaixo:</label><br>
                        <textarea name="" class="ipt-boder" id="desc-motivo" cols="30" rows="10"></textarea required>
                    </div>
                    <div id="div-enviar">
                        <input id="btn-enviar" type="button" value="Enviar" >
                    </div>
                </div>

            </form>
            
        </section>

    </article>

{% endblock %}