
{% extends 'layout.html' %}

{% load staticfiles %}


{% block content %}
    <div class="fundo-falso"></div>
    <figure></figure>
    <main>
        <!-- <img src="{% static 'images/Cores.jpg' %}" alt=""> -->
        <section id="sobre">
            <img src="{% static 'images/line.svg' %}" alt="">
            <h3>Sobre</h3>
            <p>
                O propósito deste trabalho é desenvolver um projeto de Terminal de Auto atendimento (Totem), para conhecer sobre o Centro de Cidadania da Mulher (CCM) e utilizar o sistema de denúncia anônimas (SDA) localizado dentro do CCM em um ponto estratégico e de fácil visualização. O totem tem como público alvo, visitantes e mulheres que acabam sofrendo algum tipo de violência/Abuso seja física ou psicológica, que terão informações sobre o local e ajudando aos seus usuários na escolha de uma possível colaboração.
                O Centro da cidadania da mulher (CCM) é um local que não só mostrar um pouco da história de mulheres que marcaram época como irá ajudar a entender e orientar as mulheres, além de estar presente para toda e qualquer mulher que precise de ajuda, desenvolvemos um projeto de Totem, onde os mesmos ficarão disponíveis no ambiente do CCM em um ponto de fácil acesso e visualização. Como foco do projeto, informaremos os visitantes sobre o CCM, palestras, yoga entre outros eventos. Como premissa fundamental elaboramos uma estratégia no projeto para que o totem respeite a sustentabilidade e o baixo impacto ambiental, utilizando menos energia elétrica. Dessa forma utilizaremos ao invés de potentes computadores. 
            </p>
        </section>
        <section id="quemsomos">
            <img src="{% static 'images/line.svg' %}" alt="">
           <h3>Quem Somos</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem placeat soluta laborum id, commodi repudiandae. Quod ea natus accusamus, nihil magni error incidunt perferendis soluta recusandae explicabo magnam, necessitatibus beatae.</p>
        </section>
        <section id="projeto">
                <img src="{% static 'images/line.svg' %}" alt="">
                <h3>Projeto</h3>
                <p>
                    O Projeto tem como objetivo ajudar mulheres que sofrem algum tipo de abuso e assim oferecer um serviço para mulheres de diferentes idades, raças e crenças. 
                    Teremos no nosso espaço reuniões com debates, palestras, sempre acompanhando, orientando e motivando.  Tudo isso com um espaço que transmite paz, e de confiança em que pode buscar ajuda como nosso sistema SAD(Sistema Anônimo de Denúncia).
                    <br>Estamo localizados:
                    <br>Av. Paulista, nª??? - São Paulo - SP
                </p>
        </section>
        <section id="software">
            <img src="{% static 'images/line.svg' %}" alt="">
            <h3>Software</h3>
            <iframe src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F0FrcPVx9Q5wkAFU8xbxFZt%2FSistema-An%25C3%25B4nimo-de-Denuncia-demoday%3Fnode-id%3D1%253A2%26scaling%3Dscale-down" allowfullscreen></iframe>
                <p>
                    Para essa aplicação especifica, usaremos esse software para a base de nosso      sistema. Nosso foco é abordar o assunto da violência contra a mulher, além de mostrar a localidade para os usuários do sistema. Nosso sistema, inicialmente, terá duas opções: “denúncia de abusos” e “sobre o local”. Podendo assim fazer uma denúncia, ou apenas aprender mais sobre o lugar que está localizado o totem.
                    Para uma mulher se relacionar com o sistema ele tem duas opções, se cadastrar ou permanecer anônima. Sendo que ambas as entradas serão contabilizadas no banco de dados. No banco de dados, já que citamos, usaremos a linguagem MySql, que por ser opensource, tem uma boa compatibilidade com sistemas Linux. 
                </p>
                <a href="">Clique aqui para saber mais</a>
        </section>   
        <section id="contato">
            <img src="{% static 'images/line.svg' %}" alt="">
            <h3>Contato</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur atque consequatur optio voluptatibus esse numquam, dicta eveniet quam dolor velit porro soluta voluptatem, vitae totam facilis at fugit a!</p>
        </section>
    </main>
{% endblock %}