
{% extends 'layout.html' %}

{% load staticfiles %}

{% block content %}
    <head>
        <title>Todas por Todas</title>
    </head>
    <div class="fundo-falso"></div>
    <main>
        
        <section id="sobre">
            <img src="{% static 'images/line.svg' %}" alt="imagem de um linha rosa">
            <h3>Sobre</h3>
            <p>O Projeto tem como objetivo ajudar mulheres que sofrem algum tipo de abuso e assim oferecer um serviço para mulheres de diferentes idades, raças e crenças. </p>
            <p>Teremos no nosso espaço reuniões com debates, palestras, sempre acompanhando, orientando e motivando.  Tudo isso com um espaço que transmite paz, e de confiança em que pode buscar ajuda como nosso sistema SAD(Sistema Anônimo de Denúncia). </p>
        </section>
        <section id="quemsomos">
            <img src="{% static 'images/line.svg' %}" alt="imagem de um linha rosa">
           <h3>Quem Somos</h3>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem placeat soluta laborum id, commodi repudiandae. Quod ea natus accusamus, nihil magni error incidunt perferendis soluta recusandae explicabo magnam, necessitatibus beatae.</p>
        </section>
        <section id="software">
            <img src="{% static 'images/line.svg' %}" alt="imagem de um linha rosa">
            <h3>Software</h3>
            <iframe src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F0FrcPVx9Q5wkAFU8xbxFZt%2FSistema-An%25C3%25B4nimo-de-Denuncia-demoday%3Fnode-id%3D1%253A2%26scaling%3Dscale-down" allowfullscreen></iframe>
            <p>Para essa aplicação especifica, usaremos esse software para a base de nosso      sistema. Nosso foco é abordar o assunto da violência contra a mulher, além de mostrar a localidade para os usuários do sistema. Nosso sistema, inicialmente, terá duas opções: “denúncia de abusos” e “sobre o local”. <br>Podendo assim fazer uma denúncia, ou apenas aprender mais sobre o lugar que está localizado o totem.
            Para uma mulher se relacionar com o sistema ele tem duas opções, se cadastrar ou permanecer anônima. Sendo que ambas as entradas serão contabilizadas no banco de dados para realizar calculos estastistico. No banco de dados, já que citamos, usaremos a linguagem SQL, que por ser opensource, tem uma boa compatibilidade com sistemas Linux.<br><br>
            <strong>Ao lado tem um portótipo do software </strong></p>
            <a href="/sobre/#sobre-software">Clique aqui para saber mais</a>
        </section>

        <section id="faq">
            <img src="{% static 'images/line.svg' %}" alt="imagem de um linha rosa">
            <h3>FAQ</h3>
            <p>Algumas pergutas são feitas com uma frenquência maior que outras sobre o projeto, software, segurança, entre outros. Então decidimos juntar algumas delas visualize antes de entrar em contato uma delas pode ser a sua.
                <a href="../sobre">clique para visualizar as perguntas</a>
            </p>

        </section>

        <section id="contato">
            <img src="{% static 'images/line.svg' %}" alt="imagem de um linha rosa">
            <h3>Contato</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur atque consequatur optio voluptatibus esse numquam, dicta eveniet quam dolor velit porro soluta voluptatem, vitae totam facilis at fugit a!
            </p>
            <a href="../contato/">entre em contato</a>
        </section>

    </main>
{% endblock %}