{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <header class="header-max">
        <div id="menu-logo">
            <div class="logo logo-max">
                <img src="{% static 'images/teste.png' %}" alt="Logo do projeto">
            </div>

            <div class="menu" >
                <span class="traco1 menu-max" ></span>
                <span class="traco2 menu-max"></span>
                <span class="traco3 menu-max"></span>
            </div>

            <nav class="nav-max" >
                <ul>
                    <li><a href="../#sobre">Sobre</a></li>
                    <li><a href="../#quemsomos">Quem somos</a></li>
                    <li><a href="../#software">Software</a></li>
                    <li><a href="../#faq">FAQ</a></li>
                    <li><a href="../#contato">Contato</a></li>
                    <li><a href="../login/"><img legend="login" src="{% static 'images/login.png' %}" alt=" Icone de uma ficha"></a></li>
                </ul>

                <div></div>      
            </nav>

        </div>
    </header>
    {% block content %}

    {% endblock %}
    <footer></footer>
    
</body>
</html>