{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href=" {% static 'images/tpt.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <header class="header-max">
        <div id="menu-logo">
            <div class="logo logo-max">
                <a href="#"><img src="{% static 'images/logo-esc.svg' %}" alt="Logo do projeto"></a>
            </div>

            <div class="menu" >
                <span class="traco1 menu-max" ></span>
                <span class="traco2 menu-max"></span>
                <span class="traco3 menu-max"></span>
            </div>

            <nav class="nav-max" >
                <ul>
                    <li><a id="navstyle" href="">Sobre</a></li>
                    <li><a id="navstyle" href="">Quem somos</a></li>
                    <li><a id="navstyle" href="#TitleQuem">Software</a></li>
                    <li><a id="navstyle" href="#TitleFaq">FAQ</a></li>
                    <li><a id="navstyle" href="#TitleContato">Contato</a></li>
                    <li id="img-login"><a href="/login"><img src="{% static 'images/login.png' %}" alt=" Icone de uma ficha"></a></li>
                </ul>

                <div></div>      
            </nav>

        </div>
    </header>
    {% block content %}

    {% endblock %}
    
</body>
</html>