
{% extends 'layout.html' %}
{% load staticfiles %}


{% block content %}
    <head>
        <title>Sobre o Projeto</title>
        <link rel="stylesheet" href="{% static 'ssobre.css' %}">
    </head>
    <main id="BodySobre">
        
        <section id="SobreSection1">
            <h1>Sobre o Projeto</h1>
            <p>O Projeto tem como objetivo ajudar mulheres que sofrem algum tipo de abuso e assim oferecer um serviço para mulheres de diferentes idades, raças e crenças. 
            Teremos no nosso espaço reuniões com debates, palestras, sempre acompanhando, orientando e motivando.  Tudo isso com um espaço que transmite paz, e de confiança em que pode buscar ajuda como nosso sistema SAD(Sistema Anônimo de Denúncia).</p>

        </section>

        <section>
            <article>
                
                <h2>ESTILO DO TOTEM</h2>
                <p>O modelo de totem de atendimento escolhido é o mais ideal para exibir imagens e apresentações e fácil de usar. Como o celular e o tablet fazem parte do cotidiano de grande parte das pessoas, resolvemos adotar algo em que ja utilizam com mais interatividade e comodidade, apesar do seu design parecer simples, é bem moderno.</p>
            </article>
            <article>

                <h3>Principais Características</h3>
                <ul>
                    <li>Armazenamento do Raspberry Pi
                        <p>O modelo do totem, permite a inclusão dos componentes eletrônicos no próprio totem, facilitando a manutenção, já que pode se apenas remover o raspberry pi para fazer a manuteção.</p>
                    </li>

                    <li>Estrutura do totem em fibra de vidro
                        <p>A fibra de vidro empregada no totem garante a mesma resistência que o aço com a vantagem de possuir fácil manutenção e grande durabilidade, além do vidro poder ser reciclado infinitamente.</p>
                    </li>

                    <li>Revestimento frontal com PP ou Polipropileno
                        <p> A parte frontal do totem é totalmente revestida com Polipropileno e algumas de suas características incluem ser inquebrável, transparente, brilhante e rígidoque evidencia a qualidade é um produto reciclavel e não tóxico. Além de deixar o visual moderno.</p>
                    </li>

                    <li>Segurança nos equipamentos eletrônicos
                        <p>Para garantir a segurança dos equipamentos, os componentes eletrônicos estão acessíveis através das portas traseiras, que podem ser abertas somente com as chaves específicas.</p>
                    </li>
                    <li>Tela Tablet Philco 10.1 polegadas
                        <p>A Tela 10.1 polegadas de tela TFT capacitiva multi-toque, como o próprio nome sugere, é um tipo de tela que usa um capacitor, com duas placas separadas por um isolante (que pode ser o ar). Assim que o dedo toca esse tipo de tela, um capacitor monitorado pelo sistema informa exatamente onde foi acionado, atráves de uma troca de elétrons.</p>
                    </li>
                    <li>Sistema de som integrado
                        <p>Com a intenção de atender todas as especificações e facilitar a manutenção, os totens permitem a inclusão de vários modelos de caixas de som caso seja necessario.</p>
                    </li>
                </ul>

                <ul> Cpu e componente eletrônicos
                    <li id="Cpu">Raspberry Pi 3 B+</li>
                    <li id="Cpu">Raspberry Pi PoE HAT</li>
                    <li id="Cpu">Switch PoE</li>
                    <li id="Cpu">Cartão MicroSD</li>
                </ul>

            </article>
        </section>

        <section>
            <h5>HARDWARE</h5>

            <p>O Hardware normalmente usado em um totem, é apenas um computador parecido com um computador pessoal, com 30Gb de HD e 2Gb de Ram, uma configuração até bem modesta e antiga. Podemos dizer que poucos totens oferem um processsamento maior. Fizemos pesquisas e pensamos que a combinação de painéis solares (energia solar fotovoltaica) seria uma excelente opção, porém o valor dos paíneis compensaria somente a longo prazo, por conta de seu valor. Então decidimos um método bem interessante, chamado Power Over Ethernet (PoE) basicamente é a tecnologia que permite transmitir energia elétrica pelo cabo de rede.</p>

            <p>Os Dispositivos que utilizaremos em nosso projeto nos atende de forma total além de nossa expectativa é Raspberry Pi 3 B+ um computador menor ou do tamanho de um celular, que se conecta a um monitor de computador ou TV, usa um teclado e um mouse padrão, todo o hardware é integrado em uma única placa. Utilizaremos em conjunto o Raspberry Pi PoE HAT alimentando um Raspberry Pi 3 Modelo B + através de um cabo Ethernet e ambos desenvolvidos no Reino Unido pela Fundação Raspberry Pi.</p>
            
            <p>Como pretendemos que  nosso totem seja prático e que gere resultados para o CCM e para o público, escolhemos e nos atendemos bastante aos recursos utilizados e o serviço entregado.</p>

            <p> Tamanho minúsculo e baixo custo são as duas linhas guias do projeto chamado de Raspberry Pi. Ele é um mini-microcomputador que, no exíguo espaço equivalente á um cartão de crédito, abriga processador, processador gráfico, slot para cartões de memória, interface USB, HDMI e seus respectivos controladores. Além disso, ele também apresenta memória RAM, entrada de energia e barramentos de expansão. Ainda que minúsculo, o Raspberry é um computador completo.</p>

            <img src="" alt="">
            <h3>Detalhes técnicos Raspberry Pi 3 B+</h3>
            <ul class="insidesquare">Detalhes técnicos Raspberry Pi 3 B+
                <li>Processador Broadcom BCM2837B0, Cortex-A53 (ARMv8) 64-bit SoC a 1.4GHz</li>
                <li>1GB LPDDR2 SDRAM</li>
                <li>Rede sem fio de 2.4GHz e 5GHz IEEE 802.11.b/g/n/ac wireless LAN, Bluetooth 4.2, BLE</li>
                <li>Gigabit Ethernet over USB 2.0 (maximum throughput 300 Mbps)</li>
                <li>Cabeçalho GPIO de 40 pinos estendido</li>
                <li>Conector de interface HDMI</li>
                <li>4 portas USB 2.0</li>
                <li>Porta da câmera CSI para conectar uma câmera Raspberry Pi</li>
                <li>Porta de exibição DSI para conectar uma tela sensível ao toque do Raspberry Pi</li>
                <li>Saída de vídeo composto e áudio através do plug P4</li>
                <li>Slot cartão micro SD para carregamento do sistema operacional e armazenamento de arquivos</li>
                <li>Entrada de fonte DC micro USB 5V/2.5A</li>
                <li>Suporte a Power-over-Ethernet (PoE) (requer HAT PoE separadamente)</li>
                <li>Requisitos de Alimentação: 5V @ 2.5A via fonte de alimentação microUSB</li>
                <li>Suporta o Raspbian, o Windows 10 IoT Core, o OpenELEC, o OSMC, o Pidora, o Arch Linux, o RISC OS e muito mais!</li>
                <li>tamanho: 85 x 56 x 17 mm</li>
            </ul>



        </section>
        

        <section>

        <h2 id="sobre-software">Software do Sistema</h2>
        Para essa aplicação especifica, usaremos esse software para a base de nosso      sistema. Nosso foco é abordar o assunto da violência contra a mulher, além de mostrar a localidade para os usuários do sistema. Nosso sistema, inicialmente, terá duas opções: “denúncia de abusos” e “sobre o local”.
        <p>
            Podendo assim fazer uma denúncia, ou apenas aprender mais sobre o lugar que está localizado o totem.
            Para uma mulher se relacionar com o sistema ele tem duas opções, se cadastrar ou permanecer anônima. Sendo que ambas as entradas serão contabilizadas no banco de dados para realizar calculos estastistico. No banco de dados, já que citamos, usaremos a linguagem SQL, que por ser opensource, tem uma boa compatibilidade com sistemas Linux.
        </p> 
        <strong>Ao lado tem um portótipo do software </strong>

        <h5>Perspectitiva</h5>

        <div>
            <img src="" alt="">
                <h5>Tela inicial</h5>
                <p>Parte inicial do Totem. Contendo duas opções de escolha:
                    <span>SOFREU ABUSO</span> 
                    <span>SOBRE O LOCAL</span></p>
        </div>

        <div>
            <img src="" alt="">
            <h5>Sobre</h5>
            <p>Ao clicar na opção ii. (dois) abrirá essa página com fotos, detalhes e uma breve explicação sobre o nosso local CCM Resort.</p>
        </div>
        
        <div>
            <img src="" alt="">
            <h5>Menu</h5>
            <p> Ao clicar na opção i. (um) abrirá um menu com inúmeras opções de escolhas sobre abusos de diferentes formas. O usuário deverá escolher a que atende o seu tipo de abuso. </p>
        </div>
        
        <div>
            <img src="" alt="">
            <h5></h5>
            <p>A cada escolha, se abre uma página com um pequeno texto explicando um sobre tal assunto, notícias relacionadas e uma foto para melhor visualização. Em cada página terá a escolha de:</p>
            <span>VOLTAR</span>
            <span>CONTINUAR</span>
        </div>

        <div>
            <img src="" alt="">
            <p>Vamos supor que o usuário escolheu as opções “depressão” e “CONTINUAR”, como o exemplo da imagem acima. </p>
        </div>

        <div>
            <img src="" alt="">
            <p>Logo, a parte do ID abrirá dando a opção de escolha ao usuário, de se identificar ou não</p>
        </div>

        <div>
            <img src="" alt="">
            <p>Ao usuário escolher se identificar “sim”, irá para uma página de identificação, onde terá que pssar alguns dados, como: Nome completo, celular, CPF, data de nascimento, cidade e estado. </p>
        </div>

        <div>
            <img src="" alt="">
            <p>  Após ter preenchido todas as informações necessárias, passará para a parte de encaminhamento, onde vamos mostra-lo o nome do medico pelo qual sera atendido, sala e corredor que o usuário deverá comparecer. </p>
        </div>


        <div>
            <img src="" alt="">
            <p>Caso o usuário desejar não se identificar “não”, passará direto para a area de encaminhamento.</p>
        </div>


        <h5>Atualização</h5>

        </section>



    </main>
{% endblock %}
