
{% extends 'layout.html' %}
{% load staticfiles %}


{% block content %}
    <head>
        <title>Sobre o Projeto</title>
        <link rel="stylesheet" href="{% static 'ssobre.css' %}">
    </head>
    <main>
        <section>
            <article>
                <h1>Sobre Projeto</h1>
                
                <h2>ESTILO DO TOTEM</h2>
                <p>O modelo de totem de atendimento escolhido é o mais ideal para exibir imagens e apresentações e fácil de usar. Como o celular e o tablet fazem parte do cotidiano de grande parte das pessoas, resolvemos adotar algo em que ja utilizam com mais interatividade e comodidade, apesar do seu design parecer simples, é bem moderno.</p>
                <figure>
                    <img src="" alt="">
                </figure>
            </article>

            <article>

                <h3></h3>
                <ul>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                </ul>
        
                <h3></h3>
                <ul>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                </ul>

                <h3></h3>
                <ul>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                </ul>

            </article>
        </section>

        <section>
            <h2>HARDWARE</h2>

            <p>O Hardware normalmente usado em um totem, é apenas um computador parecido com um computador pessoal, com 30Gb de HD e 2Gb de Ram, uma configuração até bem modesta e antiga. Podemos dizer que poucos totens oferem um processsamento maior. Fizemos pesquisas e pensamos que a combinação de painéis solares (energia solar fotovoltaica) seria uma excelente opção, porém o valor dos paíneis compensaria somente a longo prazo, por conta de seu valor. Então decidimos um método bem interessante, chamado Power Over Ethernet (PoE) basicamente é a tecnologia que permite transmitir energia elétrica pelo cabo de rede.</p>

            <p>Os Dispositivos que utilizaremos em nosso projeto nos atende de forma total além de nossa expectativa é Raspberry Pi 3 B+ um computador menor ou do tamanho de um celular, que se conecta a um monitor de computador ou TV, usa um teclado e um mouse padrão, todo o hardware é integrado em uma única placa. Utilizaremos em conjunto o Raspberry Pi PoE HAT alimentando um Raspberry Pi 3 Modelo B + através de um cabo Ethernet e ambos desenvolvidos no Reino Unido pela Fundação Raspberry Pi.</p>
            

            <p>Como pretendemos que  nosso totem seja prático e que gere resultados para o CCM e para o público, escolhemos e nos atendemos bastante aos recursos utilizados e o serviço entregado.</p>

            <p> Tamanho minúsculo e baixo custo são as duas linhas guias do projeto chamado de Raspberry Pi. Ele é um mini-microcomputador que, no exíguo espaço equivalente á um cartão de crédito, abriga processador, processador gráfico, slot para cartões de memória, interface USB, HDMI e seus respectivos controladores. Além disso, ele também apresenta memória RAM, entrada de energia e barramentos de expansão. Ainda que minúsculo, o Raspberry é um computador completo.</p>


        </section>


        <h3></h3>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>




    </main>
{% endblock %}
