body{
    margin: 0;
    display: grid;
    grid-template-areas:    'nav' 'nav' 'nav' 'nav'
                            'header' 'header' 'header' 'header'
                            'form' 'form' 'form' 'form'
                            'form' 'form' 'form' 'form';
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 10vh 7vh 60vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif
} 

#btn_enviar{
    margin: 10px 0px 0px 30px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    background-color: white;
}

.form_cl1{
    grid-column: 1/3;
}

.form_cl1, .form_cl2 label{
    font-weight: bold;
}

.form_cl2{
    grid-column: 3/5;
}

.form_c1l2 div{
    margin-bottom: 10px;
}

.form_cl2 input{
    width: 97%;
    outline: none;
}

.form_cl1 input, select{
    width: 97%;
    outline: none;
}

#coluna2_linha1 input{
    margin-right: 10px;
    grid-column: 1/4;
    outline: none;
}

#coluna2_linha1{
    display: flex;
}

#coluna2_linha1 div{
    width: 50%;
}

.ipt_boder{
    border-radius: 5px;
    border-bottom: 2px solid;
    height: 25px;
    background-color: white;
}

#sobre_evento{
    grid-column: 1/3;
}

#sobre_evento #outra_opcao{
    width: 97%;
}




div#calendario{
    width: 48%;
}

form{
    display: grid;
    grid-area: form;
    grid-column: 1/5;
    grid-row: 3/5;
    margin: 10px;
    
}


form div{
    display: block;
    margin-bottom: 10px;
}


header{
    grid-area: nav;
    grid-column: 1/5;
    grid-row: 2;
    font-size: 10pt;
}

header h3{
    font-size: 12pt;
    margin: 0;
    color: #c3c5ce;
    background-color: #747474;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}

label{
    color: #a1a1a2;
}

select.ipt_boder#form_formacao{
    height: 30px
}


