/* Adicionando fonte robot como padrão no site */

@font-face {
    src: url('../font/Roboto-Regular.ttf');
    font-family: 'roboto';
}


/* CSS responsavel pela pagina principal */

@media(min-width: 320px){

    a{
        text-decoration: none;
        color: #352f31;
    }

    main{
        font-size: 20px;
    }

    main section{
        text-align: center;
        font-family: "roboto";
        font-size: 40px;
        color: #352f31;
        padding: 20px;
    }

    main section a{
        text-decoration: underline;
        font-size: 20px;
        color: #352f31;
    }

    main section h3{
        text-align: left;
    }

    main section p{
        text-align: justify;
        font-size: 14pt;
    }

    main section:nth-child(odd){
        background-color: #fcebf3;
    }
    main section:nth-child(even){
        background-color: #f3c7d8;
    }

    #software a{
        text-decoration: underline;
        font-size: 20px;
        color: #352f31;
    }

    #software {
        padding: 0;
    }
    
    #software h3{
        margin: 20px;
    }
    
    #software img{
        width: 80%;
    }

    #software p{
        margin: 0 20px;
    }
    
    #software iframe{
        border: none;
        height: 400px;
    }

}


@media(min-width: 600px){

    #software {
        display: grid;
        grid-template-areas: "texto soft";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        padding: 20px;
    }

    #software a{
        grid-area: soft;
        grid-row: 1;
        margin-top: 600px;
    }
    
    #software img{
        grid-area: texto;
        grid-column: 1/3;
        grid-row: 1;
        width: 100%;
    }
    
    #software h3{
        margin-top: 40px;
        grid-area: texto;
        grid-row: 1;
        height: 50px;
    }
   

    #software p{
        margin: 100px 0 0;
        grid-area: texto;
        grid-row: 1;
    }

    
    iframe{
        margin-top: 150px;
        grid-area: soft;
        margin-left: 30px;
        width: 300px;
    } 

}


@media(min-width: 769px){

    #software a{
        grid-area: soft;
        grid-row: 2;
        margin: auto auto 10px;
    }

    #software img{
        grid-area: texto;
        grid-column: 1/3;
        grid-row: 1;
        width: 100%;
    }

    #software p{
        padding-top: 20px;
    }

    iframe{
        margin-left: 50px;
        width: 300px;
        height: 400px;
        margin-top: 130px;
    } 

    /* iframe{
        margin-left: 50px;
    }  */

}


@media(min-width: 834px){

    iframe{
        margin: 120px auto auto;
    }

}


@media(min-width: 1060px){

    #software a{
        grid-area: texto;
        grid-row: 1;
        margin-top: 450px;
    }

    iframe{
        margin: auto auto;
    }
    

}