/* Adicionando fonte robot como padrão no site */

@font-face {
    src: url('../font/Roboto-Regular.ttf');
    font-family: 'roboto';
}

/* afeta todos os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media(min-width: 320px){

    /* Layout */
    #menu-logo{
        /* max-width: 1440px; */
        height: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: grid;
        grid-template-areas: "logo ... nav" ;
        grid-template-columns: auto 1fr auto;
        align-content: center;
    }

    .header-max{
        background-color: #df4b6f;
        height: 100px;
    }

    .header-min{
        background-color: #c9859f;
        height: 80px;
    }

    .logo{
        grid-area: logo;
    }

    .logo-max img{
        width: 320px;
    }

    .logo-min img{
        width: 280px;
    }
    
    .menu-max{
        background-color: #f3c7d8;
    }

    .menu-min{
        background-color: #df4b6f;
    }
    
    .nav-max a{
        font-size: 20px;
        color: #f3c7d8;
    }

    .nav-min a{
        font-size: 18px;
        color: #df4b6f;
    }
    
    /*  */
    a{
        text-decoration: none;
        /* color: #352f31; */
    }

/* =================================================== */

    footer{
        position: fixed;
        bottom:0;
        /* left:0; */
        background-color: #f3c7d8;
    }

    header{
        position: fixed;
        width: 100%;
        z-index: 1;
        font-size: 20px;
        transition: all 0.5s ease;
    }

    li{
        list-style: none;
    }

    nav{
        grid-area: nav;
        display: grid;
        align-items: center;
    }

    nav a{
        position: relative;
        text-transform: uppercase;
        transition: all 0.4s ease;
    }

    nav ul{
        display: grid;
        grid-auto-flow: column;
        grid-gap: 20px;
    }

    nav ul li img{
        width: 30px;
        height: 30px;
    }
    /* ============================== */


    /* Conteudo principal da página */

    .fundo-falso{
        width: 100%;
        height: 100px;
        background-color: #fcebf3;
    }

    main{
        font-size: 20px;
    }

    main section{
        text-align: center;
        font-family: "roboto";
        font-size: 40px;
        color: #352f31;
        padding: 20px;
    }

    main section a{
        text-decoration: underline;
        font-size: 20px;
        color: #352f31;
    }

    main section h3{
        text-align: left;
    }

    main section p{
        text-align: justify;
        font-size: 14pt;
    }

    main section:nth-child(odd){
        background-color: #fcebf3;
    }
    main section:nth-child(even){
        background-color: #f3c7d8;
    }

    /* #faq a{
        font-size: 20px;
    } */

    #software a{
        text-decoration: underline;
        font-size: 20px;
        color: #352f31;
    }

    #software {
        padding: 0;
    }
    
    #software h3{
        margin: 20px;
    }
    
    #software img{
        width: 80%;
    }

    #software p{
        margin: 0 20px;
    }
    
    #software iframe{
        border: none;
        height: 400px;
    }



}


@media(min-width: 425px){
    #menu-logo{
        padding: 0 16px;
    }

}


@media(min-width: 600px){

    #menu-logo{
        display: flex;
        padding-right: 20px;
    }

    .logo{
        margin: auto auto;
    }

    #software {
        display: grid;
        grid-template-areas: "texto soft";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        width: 100%;
        padding: 20px;
    }

    #software a{
        grid-area: soft;
        grid-row: 1;
        margin-top: 600px;
    }
    
    #software img{
        grid-area: texto;
        grid-column: 1/3;
        grid-row: 1;
        width: 100%;
    }
    
    #software h3{
        margin-top: 40px;
        grid-area: texto;
        grid-row: 1;
        height: 50px;
    }
   

    #software p{
        margin: 100px 0 0;
        grid-area: texto;
        grid-row: 1;
    }

    
    iframe{
        margin-top: 150px;
        grid-area: soft;
        margin-left: 30px;
        width: 300px;
    } 

}


/* Fim do Menu Hambuguer*/
@media(max-width: 768px){

    #menu-logo{
        position: relative;
        grid-template-areas: "logo ... navbar" ;
    }

    .logo-max img{
        width: 220px;
    }
    
    .logo-min img{
        width: 180px;
    }

    .menu{
        grid-area: navbar;
        display: grid;
        align-content: center;
        transition: all .8s ease-out;
    }

    .menu span{
        display: grid;
        height: 3px;
        width: 30px;
        margin: 3px;
        transition: all .8s ease-out;
    }

    .menu-visivel{
        transform: translateX(0);
    }

    nav{
        position: absolute;
        width: 100%;
        right: 0;
        transform: translateX(100%);
        transition: .8s ease-out;
        grid-auto-flow: column;
    }
    
    nav div{
        position: absolute;
        width: 50%;
        background-color: #352f31;
        opacity: 0.3 ;
    }

    nav ul{
        display: inline-block;
        flex-direction: column;
        position: absolute;
        width: 50%;
        background-color: #df4b6f;
        right: 0;
    }

    nav li{
        text-align: center;
        padding: 20px;
    }

    .nav-max li:last-child{
        margin-top: calc(100vh - (80px + 420px));
    }

    .nav-min li:last-child{
        margin-top: calc(100vh - (60px + 420px));
    }

    .nav-max{
        top:80px;
    }

    .nav-min{
        top:60px;
    }
   
    .nav-min a{
        font-size: 20px;
        color: #f3c7d8;
    }

    .nav-max, .nav-max ul, .nav-max div{
        height: calc(100vh - 80px);
    }

    .nav-min, .nav-min ul, .nav-min div{
        height: calc(100vh - 60px);
    }

    .header-max{
        height: 80px;
    }
    
    .header-min{
        height: 60px;
    }

}
/* ============================================ */


@media(min-width: 769px){

    #img-login a{
        position: relative;
        /* margin: 0 auto;  */
    }

    #img-login img{
        position: absolute;
    }
    
    #menu-logo{
        display: flex;
        padding: 0;
    }
    
    .logo{
        margin-left: 1px;
    }

    .logo-max img{
        width: 220px;
    }

    .logo-min img{
        width: 280px;
    }

    .nav-max{
        margin: auto 0;
        padding-right: 20px;
    }

    .nav-min{
        margin: auto 0;
        padding-right: 20px;
    }

    /* efeito na navbar */
    nav a::before{
        /* currentColor pega a cor do elemento pai no caso seria os link que é o "a" do html*/
        background-color: currentColor;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        top: -3px;
        width: 100%;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.3s ease-out;
    }
    
    nav a:hover::before{
        transform: scaleX(1);
    }
    
    nav a::after{
        background-color: currentColor;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        bottom: -3px;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.3s ease-out;
    }

    nav a:hover::after{
        transform: scaleX(1);
    }
    
    nav ul{
        padding-right: 20px;
        display: flex;
        right: 0;
    }

    nav li{
        padding-left: 10px;
    }

    nav img{
        margin-right: 20px;
    }

    .fundo-falso{
        height: 100px;
    }

    #software a{
        grid-area: soft;
        grid-row: 2;
        margin: auto auto 10px;
    }

    #software img{
        grid-area: texto;
        grid-column: 1/3;
        grid-row: 1;
        width: 100%;
    }

    #software p{
        padding-top: 20px;
    }

    iframe{
        margin-left: 50px;
        width: 300px;
        height: 400px;
    } 

    iframe{
        margin-top: 130px;
        margin-left: 50px;
    } 
}


@media(min-width: 834px){

    iframe{
        margin: 120px auto auto;
    }

    .logo-max img{
        width: 280px;
    }

    .logo-min img{
        width: 250px;
    }

    .nav-max{
        padding-right: 40px;
    }

    .nav-min{
        padding-right: 40px;
    }

}


@media(min-width: 1060px){
    
    /* #menu-logo{
        margin-right: 20px;
    } */

    .logo{
        margin-left: 10px;
    }

    .logo-max img{
        width: 320px;
    }

    .logo-min img{
        width: 280px;
    }

    .nav-max{
        color: #f3c7d8;
        /* padding-left: 300px; */
        width: 700px;
    }

    .nav-min{
        font-size: 20px;
    }

    .nav-max a{
        font-size: 23px;
        padding-left: 10px;
    }

    .nav-min a:last-child{
        padding-left: 0px;
    }

    .nav-max a:last-child{
        padding-left: 0px;
    }

    .nav-min a{
        font-size: 25px;
        padding-left: 10px;
    }

    #software a{
        grid-area: texto;
        grid-row: 1;
        margin-top: 450px;
    }

    iframe{
        margin: auto auto;
    }
    

}


@media(min-width: 1660px){
    html{
        background-color: #c9859f;
    }
    
    header{
        width: 1660px;
    }
    body{
        width: 1660px;
        margin: auto;
    }
}
